<br />
<br />

<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'Silicon Road',  "http://whispering-mesa-6619.herokuapp.com" %>
     </p>

    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>