<h1>HOME PAGE</h1>
<p></p>

<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'Silicon Road',  "http://http://whispering-mesa-6619.herokuapp.com" %>
     </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>