<div class="footer">
  <small>
    <%= link_to "Silicon Road", "http://whispering-mesa-6619.herokuapp.com" %>
    by <%= link_to "BTCBLADE", "http://whispering-mesa-6619.herokuapp.com" %>
  </small>
</div>